<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	
<add name="LearnSchoolDemoEntities" connectionString="metadata=res://*/ADOApp.LearnSchoolModel.csdl|res://*/ADOApp.LearnSchoolModel.ssdl|res://*/ADOApp.LearnSchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZILYA\SQLEXPRESS;initial catalog=LearnSchoolDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>